Blog_Automation.json
{
  "name": "Blog Automation",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "011ed566-ef71-4aa7-809f-a25b4816ec6b",
              "name": "notionPageId",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "88c41384-3fb4-48db-bed0-f669295208e9",
              "name": "title",
              "value": "={{ $json.property_post_title }}",
              "type": "string"
            },
            {
              "id": "dcbf89a2-00de-40c8-99ac-9c5652193d45",
              "name": "keyword",
              "value": "={{ $json.property_slug }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -560,
        -240
      ],
      "id": "a10791f6-c938-4f35-a8ed-8d023afcefe7",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "engine",
              "value": "google"
            },
            {
              "name": "q",
              "value": "={{ $json.keyword }}"
            },
            {
              "name": "api_key",
              "value": "YOUR_SERP_API_KEY"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -360,
        0
      ],
      "id": "2e5ee11a-0412-41df-8795-dec93283933e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// Access the actual JSON data inside the item wrapper\nconst item = $input.item.json;\nconst serp = item.serp || {};\nreturn {\n  notionPageId: item.notionPageId,\n  title: item.title,\n  keyword: item.keyword,\n  organic_top5: (serp.organic_results || []).slice(0, 5),\n  questions_top3: (serp.related_questions || []).slice(0, 3),\n  total_results: serp.search_information?.total_results ?? null\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        140,
        -260
      ],
      "id": "c805858f-af6f-4344-a3ff-e1a575458419",
      "name": "FUNCTION (top5)"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "clashHandling": {
            "values": {
              "resolveClash": "preferLast"
            }
          }
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -40,
        -200
      ],
      "id": "13a82b04-c66e-418a-b302-2d6df6893df0",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "return { serp: $json };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        0
      ],
      "id": "6abc5f40-8e27-4c43-b755-d7efa9a79e75",
      "name": "Code"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.name }}",
                    "rightValue": "how-to",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.name }}",
                    "rightValue": "comparison",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.name }}",
                    "rightValue": "why is",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.name }}",
                    "rightValue": "listicle",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1120,
        -200
      ],
      "id": "ac6f10d7-95ca-44bf-8587-4cb2010b5c08",
      "name": "Switch"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        260,
        0
      ],
      "id": "d7da0282-1207-404e-8896-0567371d00a8",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "YOUR_GROQ_CREDENTIAL_ID",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Parsing Logic\nconst item = $input.item.json;\nconst aiText = item.text || item.output || \"\"; \nlet cleanJson = \"{}\";\nconst firstOpen = aiText.indexOf('{');\nconst lastClose = aiText.lastIndexOf('}');\nif (firstOpen !== -1 && lastClose !== -1) {\n  cleanJson = aiText.substring(firstOpen, lastClose + 1);\n}\nlet parsedData = {};\ntry {\n  parsedData = JSON.parse(cleanJson);\n} catch (error) {\n  parsedData = { article_type: \"general\", intent: \"unknown\", reasoning: \"Parsing error\" };\n}\nreturn {\n  ...item,\n  intent: parsedData.intent,\n  article_type: (parsedData.article_type || \"\").toLowerCase(), \n  reasoning: parsedData.reasoning\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        -200
      ],
      "id": "d342064f-8b47-4256-b14e-df48470a0d91",
      "name": "parsing"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('FUNCTION (top5)').first().json.notionPageId }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|select",
              "selectValue": "Completed AI Blog"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1940,
        -240
      ],
      "id": "b3ddea7b-d347-4195-addd-1c4a0e101509",
      "name": "Status changer",
      "credentials": {
        "notionApi": {
          "id": "YOUR_NOTION_CREDENTIAL_ID",
          "name": "Notion Blog Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Chunker Node logic to parse markdown into Notion blocks\nconst longText = $('Format Google').first().json.text || \"\";\nconst lines = longText.split('\\n');\nconst result = [];\nfor (const line of lines) {\n  let cleanLine = line.trim();\n  if (cleanLine.length > 0) {\n    let blockType = \"paragraph\";\n    let content = cleanLine;\n    if (/^[\\*]*#\\s/.test(cleanLine) || /^#\\s/.test(cleanLine)) {\n       blockType = \"heading_1\";\n       content = cleanLine.replace(/^[\\*]*#\\s+/, \"\").replace(/[\\*]*$/, \"\"); \n    }\n    else if (/^[\\*]*##\\s?/.test(cleanLine)) {\n       blockType = \"heading_2\";\n       content = cleanLine.replace(/^[\\*]*##\\s*/, \"\").replace(/[\\*]*$/, \"\"); \n    }\n    // ... (rest of parsing logic preserved)\n    result.push({ \n      json: { text_chunk: content, block_type: blockType } \n    });\n  }\n}\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2220,
        -200
      ],
      "id": "93063b1c-2b22-4213-a9f4-8c85aa4122cc",
      "name": "Chunker"
    },
    {
      "parameters": {
        "resource": "block",
        "blockId": {
          "__rl": true,
          "value": "={{ $('Status changer').item.json.id }}",
          "mode": "id"
        },
        "blockUi": {
          "blockValues": [
            {
              "type": "={{ $json.block_type }}",
              "richText": true,
              "text": {
                "text": [
                  {
                    "text": "={{ $json.text_chunk }}"
                  }
                ]
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2460,
        -200
      ],
      "id": "b710142f-0616-468b-81f2-ad452296c864",
      "name": "Notion Appender",
      "credentials": {
        "notionApi": {
          "id": "YOUR_NOTION_CREDENTIAL_ID",
          "name": "Notion Blog Account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze User Proposed Title vs SERP data.\nTitle: {{ $json.title }}\nKeyword: {{ $json.keyword }}\nCompetition: {{ $json.organic_top5.map(result => \"- \" + result.title).join(\"\\n\") }}\nDetermine Intent and Article Type (How-to, Comparison, Listicle, Why-is).\nReturn JSON."
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        340,
        -200
      ],
      "id": "37dc348c-6530-4fe2-8169-71f464156450",
      "name": "Key Word Analyzer"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "YOUR_GEMINI_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n{\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": `*** DATA SOURCE ***\nTarget Keyword: ${$('FUNCTION (top5)').first().json.keyword}\nTitle: ${$('FUNCTION (top5)').first().json.title}\nCompetitors: ${$('FUNCTION (top5)').first().json.organic_top5.map(i => \"- \" + i.title).join(\"\\n\")}\nINSTRUCTIONS: ${$('Get Prompt').first().json.property_prompt}`\n        }\n      ]\n    }\n  ]\n}\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1420,
        -460
      ],
      "id": "a8ee756f-8b80-453b-a8d8-c542b0051c83",
      "name": "How to Blogger"
    },
    {
      "parameters": {
        "jsCode": "const googleData = $input.item.json;\nconst text = googleData.candidates?.[0]?.content?.parts?.[0]?.text || \"Error generating content\";\nreturn { json: { text: text } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1740,
        -200
      ],
      "id": "a201eb0e-df89-425b-a1ef-f95883bb08a4",
      "name": "Format Google"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "YOUR_FOCUZED_DB_ID",
          "mode": "list"
        },
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Status|select",
              "condition": "equals",
              "selectValue": "For AI writing"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -1040,
        -80
      ],
      "id": "1d13c133-ebbf-4b1e-a7c9-13e0d91c02f1",
      "name": "Focuzed Blogger",
      "credentials": {
        "notionApi": {
          "id": "YOUR_NOTION_CREDENTIAL_ID",
          "name": "Notion Blog Account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "YOUR_PROMPTS_DB_ID",
          "mode": "list"
        },
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Intent|title",
              "condition": "equals",
              "titleValue": "={{ $json.article_type }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        900,
        -240
      ],
      "id": "5ba11ff0-361b-4238-a802-502204ecc0d0",
      "name": "Get Prompt",
      "credentials": {
        "notionApi": {
          "id": "YOUR_NOTION_CREDENTIAL_ID",
          "name": "Notion Blog Account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "YOUR_BULLET_DB_ID",
          "mode": "list"
        },
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Status|select",
              "condition": "equals",
              "selectValue": "For AI Writing"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -1020,
        -380
      ],
      "id": "3d340e9d-deba-474a-a207-793ddf85595c",
      "name": "Notion",
      "credentials": {
        "notionApi": {
          "id": "YOUR_NOTION_CREDENTIAL_ID",
          "name": "Notion Blog Account"
        }
      }
    },
    {
      "parameters": {
        "trigger": [
          "message"
        ],
        "channelId": {
          "__rl": true,
          "value": "YOUR_SLACK_CHANNEL_ID",
          "mode": "list"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        -1500,
        640
      ],
      "id": "61789ac4-e4f3-4147-8663-a1831d3fa371",
      "name": "Slack Trigger",
      "webhookId": "YOUR_SLACK_WEBHOOK_ID",
      "credentials": {
        "slackApi": {
          "id": "YOUR_SLACK_CREDENTIAL_ID",
          "name": "BLOG BOT"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -780,
        -220
      ],
      "id": "2cd9ae07-5f80-4990-9c9d-3ba31f3297ac",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "path": "start-blog-writer",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1420,
        -260
      ],
      "id": "e5adf2ab-b28f-4211-b07b-f253502d9704",
      "name": "Webhook",
      "webhookId": "YOUR_WEBHOOK_ID"
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FUNCTION (top5)": {
      "main": [
        [
          {
            "node": "Key Word Analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "FUNCTION (top5)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Key Word Analyzer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "parsing": {
      "main": [
        [
          {
            "node": "Get Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "How to Blogger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status changer": {
      "main": [
        [
          {
            "node": "Chunker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chunker": {
      "main": [
        [
          {
            "node": "Notion Appender",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Key Word Analyzer": {
      "main": [
        [
          {
            "node": "parsing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "How to Blogger": {
      "main": [
        [
          {
            "node": "Format Google",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Google": {
      "main": [
        [
          {
            "node": "Status changer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Focuzed Blogger": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Prompt": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion Appender": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Notion",
            "type": "main",
            "index": 0
          },
          {
            "node": "Focuzed Blogger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
